@extends('layouts/main')

@section('title')Créer deck — @end

@section('content')
  <h1>Créer un deck</h1>

  <form method="POST" action="/decks" style="display:flex; flex-direction:column; gap:10px; max-width:420px;">
    @csrf
    <label>Titre</label>
    <input name="title" />

    <label>Description</label>
    <textarea name="description"></textarea>

    <button type="submit">Créer</button>
  </form>
@endsection