@layout('layouts/main')

    @section('title')
        Créer un deck
    @endsection
    
    
    
    @section('content')

        <h1>
            Créer un deck
        </h1>

        <form action="/decks" method="POST">
            @csrf
            
            <label>
                Titre
      <input type="text" name="title" required />
            </label>

            <label>
                Description
      <textarea name="description"></textarea>
            </label>

            <button type="submit">Créer </button>
        </form>

        <p>
            <a href="/decks">Retour </a>
        </p>

    @endsection
