@component('components/layout', { title: title })

    <h3>
        Faire des révisions
    </h3>

    <p>
        <strong>Deck :</strong>{{ deck.title }}
    </p>

    <p>
        Mode révision à venir
    </p>

    <p>
        <a href="/decks">Retour</a>
    </p>
@endcomponent
