@layout('layouts/main')

    @section('title')
        Réviser
    @endsection
    
    
    
    @section('content')

        <h1>
            Faire des révisions
        </h1>

        <p>
            <strong>Deck :</strong>{{ deck.title }}
        </p>

        <p>
            Mode révision à venir
        </p>

        <p>
            <a href="/decks">Retour</a>
        </p>

    @endsection
