@component('components/layout', { title: title })

    <h3>
        Modifier le deck
    </h3>

    <form action="/decks/{{ deck.id }}" method="POST">
        @csrf
            
        <label>
            Titre
      <input type="text" name="title" value="{{ deck.title }}" required />
        </label>

        <label>
            Description
      <textarea name="description">{{ deck.description }}</textarea>

        </label>

        <button type="submit">Enregistrer</button>
    </form>

    <p>
        <a href="/decks">Retour</a>
    </p>

@endcomponent
