@layout('layouts/main')

@section('title')
  Login
@endsection

@section('content')
  <h1>Connexion</h1>

  <form method="POST" action="/login" style="display:flex; flex-direction:column; gap:10px; max-width:320px;">
    @csrf
    <label>Username</label>
    <input name="username" />

    <label>Mot de passe</label>
    <input name="password" type="password" />

    <button type="submit">Se connecter</button>
  </form>
@endsection