<!--
pour csrf : quand le formulaire est envoyé, Adonis peut vérifier :
que la requête vient bien de ton site
que c’est un vrai utilisateur , sinon requete rejetee
-->

@layout('layouts/main')

    @section('title')
        Login
    @endsection
    
    
    
    @section('content')

        <h1>
            Connexion
        </h1>

        <form action="/login" method="POST">

            @csrf
            
            <label>
                Email
      <input type="email" name="email" required />
            </label>

            <label>
                Mot de passe
      <input type="password" name="password" required />
            </label>

            <button type="submit">Se connecter</button>
        </form>

        <p>
            Pas de compte ?
    <a href="/register">Créer un compte</a>
        </p>

    @endsection
