@extends('layouts/main')

@section('title')Register — @end

@section('content')
  <h1>Créer un compte</h1>

  <form method="POST" action="/register" style="display:flex; flex-direction:column; gap:10px; max-width:320px;">
    @csrf
    <label>Username</label>
    <input name="username" />

    <label>Mot de passe</label>
    <input name="password" type="password" />

    <button type="submit">Créer</button>
  </form>
@endsection