@layout('layouts/main')

    @section('title')
        Register
    @endsection
    
    
    
    @section('content')

        <h1>
            Créer un compte
        </h1>

        <form action="/register" method="POST">
            @csrf
            
            <label>
                Nom complet (optionnel)
      <input type="text" name="fullName" />
            </label>

            <label>
                Email
      <input type="email" name="email" required />
            </label>

            <label>
                Mot de passe
      <input type="password" name="password" required />
            </label>

            <button type="submit">Créer</button>
        </form>

        <p>
            Déjà un compte ?
    <a href="/login">Se connecter</a>
        </p>

    @endsection
