<body>
  <div class="navbar">
    <div><strong>FlashCards</strong></div>
    <div>
      <a href="/decks">Decks</a>
      <a href="/logout">Déconnexion</a>
    </div>
  </div>

  <main class="container">
    @!section('content')
  </main>
</body>