@layout('layouts/main')

@section('title')
  FlashCards
@endsection

@section('content')
  <h1>Bienvenue sur FlashCards</h1>
  <a href="/login">Se connecter</a>
  <a href="/register">Créer un compte</a>
@endsection